<!DOCTYPE html>
<html>

    <head dir="rtl" lang="he">
            <link rel="stylesheet" href="style.css" />
            <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
             <title>  OGOptics </title>
    </head>







    <body>

<div class="grid-container">
    

<header class="header"> 
    <div class="brand">
        <button onclick="openMenu()">
            &#9776;
        </button>
        <a href="index.html">OGOptics</a>      <!-- Brand's Logo -->
    </div>
    <div class ="header-links">
        <a dir="rtl" href="cart.html">סל הקניות </a>
        <a  dir="rtl" href="signIn.html"> התחבר </a>
    </div>
</header>

<aside dir="rtl" class="sidebar">
    <button  class="slidebar-button-closed" onclick="closeMenu()">X</button>
   
       
    <h3> סוגי עדשות</h3>
    <ul>
        <li>קטגוריה</li>                    <!-- Brand's SideBar Categories-->
        <li>קטגוריה</li>
        <li>קטגוריה</li>
        <li>קטגוריה</li>
    </ul>


    

</ul>
    
    </aside>




<main class="main">
    <div class="content">
        <ul class="products">
            <li> 
                <div class="product">
                    <img src="" alt="product">  
                    <div class="product-image"> </div>
                    <div class="product-name"> </div>
                    <div class="product-brand"> </div>
                    <div class="product-size"> </div>
                    <div class="product-price"></div>
                    <div class="product-id"></div>
                </div>
            </li>
           
        </ul>
    </div>

</main>

<footer class="footer">
    All right Reserved to OgOptics.
</footer>



</div>


<script src="./App.js"></script>




    </body>
</html>